
.landing_page {
  background-color: black;
  display: flex;
  flex-direction: column; 
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
}

.landing_page_aboutSection{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 22%;
  text-align: start;
  align-items: center;

}

.landing_page_header{
  flex: 1;                  
  display: flex;
  justify-content: center;  
  align-items: center;     
  text-align: center;
  font-size: 25px;
}

.main {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; 
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.main.open {
  animation: openUp 2s forwards;
}

.secondMain {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 15vw;
  gap: 4vh;
}

.menu_buttons{
  border-radius: 25px;
  background-color: white;
  width: 5vw;
  margin-left: 5vw;
  padding: 5px;
  font-size: medium;
  border-color: white;
  text-shadow: none;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu_buttons:hover{
  transform: scale(1.1);
  /* opacity: 0.5; */
  background-color: black;
  color: white;
}

.menu_buttons.clicked {
  color: white;
  background-color: black;
  border-style: inset;
}
.displayer{
  display: flex;
  width: 85vw;
  height: 100%;
  align-items: flex-start;
  overflow-y: scroll;  
  scrollbar-width: none;
}
.boxholder{
  column-count: 2;
  column-gap: 0;
  width: 100%;
  margin-top: 6vh;
  margin-left: 5vw;
  margin-bottom: 10vw;
  margin-right: 5vw;
  min-height: 100%;
}
.Boxholder_img{
  column-count: 2;
  column-gap: 0;
  width: 100%;
  margin-top: 6vh;
  margin-left: 5vw;
  margin-bottom: 10vw;
  margin-right: 5vw;
  min-height: 100%;
}
.box, .box_img{
  width: 90%;
  display: block;
  overflow: hidden;   
  height: auto;
  border: 4px solid black;
  border-radius: 25px;
  margin-bottom: 2vw;
  break-inside: avoid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.box:hover{
  transform: scale(1.1);
}
.box_img{
  /* composes: base; */
  cursor: auto;
}
/* .box_img:hover{
  transform: scale(1.1);
  z-index: 1000;
} */
.infoModal{
  display: flex;
  height: 100%;
  margin-left: 25vw;
  align-items: center;
  /* justify-items: center; */
  flex-direction: row;
  gap: 5vw;
}

.overlay {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.overlay {
  animation: fadeIn 0.3s ease;
}

/* the popup box */
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  min-height: 60%;
  max-height: 80%;
  min-width: 50%;
  max-width: 70%;
  background: white;
  color: black;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  overflow-y: scroll;
  scrollbar-width: none;
}

.popup {
  animation: popUp 0.3s ease;
}


.preview_Header{
  margin-left: 1vw;
  margin-top: 2px;
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
}
.detailedView_Names{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.preview_close_btn{
  cursor: pointer;
  background-color: white;
  border-style: none;
}

.preview_imageAnddetails{
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10%;
}

.preview_details{
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* margin-right: 5%; */
  gap: 20%;
  justify-content: center;
}

.popup img{
  height: 20vw;
  width: auto;
  border: 4px solid black;
  border-radius: 25px;
  /* margin-bottom: 2vw; */
}

.preview_more_btn{
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 10%;
  transition: all 0.3s ease;
}
.preview_more_btn:hover{
  transform: scale(1.1);
}
.preview_about{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 1vw;
  margin-top: 10px;
}
.preview_about h4{
  font-size: larger;
}
.preview_about p{
  word-wrap: break-word; 
}

.overlay_detailedView{
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.detailedView{
  overflow-y: scroll;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  scrollbar-width: none;
  align-items: center;
  margin-top: 5vh;
}

.detailedView_close_btn{
  cursor: pointer;
  background-color: white;
  border-style: none;
  height: 100%;
  width: auto;
}
.detailedView_Header{
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-size: larger;
  position: sticky;
  top: 0;
  /* z-index: 1000; */
  background-color: white;
}
.detailedView_Header h1{
  cursor: pointer;
}

.detailedView_imgAndDetails{
  display: flex;
  margin-top: 10px;
  width: 95%;
  /* max-width: 95%; */
  justify-content: space-between;
  /* align-items: center; */
}
.detailedView_main_img{
  height: auto;
  width: auto;
  min-height: 60vh;
  max-height: 70vh;
  max-width: 100%;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  margin: auto;
}

.detailedView_details{
  display: flex;
  /* width: auto%; */
  flex-direction: column;
  justify-content: space-between;
  gap: 35%;
  margin-right: 1vw;
}

.detailedView_details p{
  text-align: center;
  font-size: larger;
}

.detailedView_download_btn{
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  /* remove underline */
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 100%;
  width: 20vw;
  font-size: large;
}

.detailedView h3{
  width: 95%;
  text-align: left;
  font-size: 30px;
  margin-top: 5vh;
  color: white;
  background-color: black;
}

.detailedView_about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5vh;
  gap: 5vh;
  margin-bottom: 10vw;

}
.detailedView_about_element{
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.detailedView_about_element img{
  width: 50%;
  border-style: solid;
  border-width: 3px;
}
.detailedView_about_element p{
  font-size: larger;
  word-wrap: break-word; 
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes popUp {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

html, body{
  margin: 0%;
  padding: 0%;

}
/* Keyframes animation */
@keyframes openUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}