.App {
  background-color: black;
  display: flex;
  flex-direction: column; 
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
}

.about_low{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 22%;
  text-align: start;
  align-items: center;

}

.centered{
  flex: 1;                  
  display: flex;
  justify-content: center;  
  align-items: center;     
  text-align: center;
  font-size: 25px;
}

.main {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; 
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.main.open {
  animation: openUp 2s forwards;
}

.secondMain {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 15vw;
  gap: 4vh;
}

.buttons{
  border-radius: 25px;
  background-color: white;
  width: 5vw;
  margin-left: 5vw;
  padding: 5px;
  font-size: medium;
  border-color: white;
  text-shadow: none;
  border-style: none;

}

.buttons.clicked {
  color: white;
  background-color: black;
  border-style: inset;
}
.displayer{
  display: flex;
  /* flex-direction: column;  if using this, use justify content to flex start*/
  width: 85vw;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;  
  scrollbar-width: none;
}
.boxholder{
  column-count: 2;
  column-gap: 10px;
  width: 65vw;
  margin-top: 5vh;
  margin-left: 5vw;
  min-height: 100%;

  
}
.box{
  width: 30vw;
  display: inline-block;
  overflow: hidden;   
  height: auto;
  border: 4px solid black;
  border-radius: 25px;
  margin-bottom: 2vw;
  break-inside: avoid;

}
.infoModal{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  gap: 5vw;
}
html, body{
  margin: 0%;
  padding: 0%;

}
/* Keyframes animation */
@keyframes openUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes buttonAnimation {
  
}