.App {
  background-color: black;
  display: flex;
  flex-direction: column; 
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
}

.about_low{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 22%;
  text-align: start;
  align-items: center;

}

.centered{
  flex: 1;                  
  display: flex;
  justify-content: center;  
  align-items: center;     
  text-align: center;
  font-size: 25px;
}

.main {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; 
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.main.open {
  animation: openUp 2s forwards;
}

.secondMain {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 15vw;
  gap: 4vh;
}

.menu_buttons{
  border-radius: 25px;
  background-color: white;
  width: 5vw;
  margin-left: 5vw;
  padding: 5px;
  font-size: medium;
  border-color: white;
  text-shadow: none;
  border-style: none;

}

.menu_buttons.clicked {
  color: white;
  background-color: black;
  border-style: inset;
}
.displayer{
  display: flex;
  /* flex-direction: column;  if using this, use justify content to flex start*/
  width: 85vw;
  height: 100%;
  /* justify-content: center; */
  align-items: flex-start;
  overflow-y: scroll;  
  scrollbar-width: none;
}
.boxholder{
  column-count: 2;
  column-gap: 0;
  width: 100%;
  margin-top: 6vh;
  margin-left: 5vw;
  margin-bottom: 10vw;
  margin-right: 5vw;
  min-height: 100%;
}
.box{
  width: 90%;
  display: block;
  overflow: hidden;   
  height: auto;
  border: 4px solid black;
  border-radius: 25px;
  margin-bottom: 2vw;
  break-inside: avoid;
  cursor: pointer;

}
.infoModal{
  display: flex;
  height: 100%;
  margin-left: 25vw;
  align-items: center;
  /* justify-items: center; */
  flex-direction: row;
  gap: 5vw;
}

.overlay {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

/* the popup box */
.popup {
  width: auto;
  height: 60%;
  min-width: 50%;
  max-width: 70%;
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  overflow-y: scroll;
  scrollbar-width: none;
}
.preview_close_btn{
  cursor: pointer;
  background-color: white;
  border-style: none;
}
.preview_more_btn{
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 10%;
}
.popup img{
  height: 20vw;
  width: auto;
  border: 4px solid black;
  border-radius: 25px;
  margin-bottom: 2vw;
}

.preview_Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preview_imageAnddetails{
  display: flex;
  justify-content: space-between;
  gap: 10%;
  /* flex-direction: row; */
  /* gap: 20%; */
}

.preview_details{
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 20%;
  justify-content: center;
}

.overlay {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.popup {
  animation: popUp 0.3s ease;
}

@keyframes popUp {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

html, body{
  margin: 0%;
  padding: 0%;

}
/* Keyframes animation */
@keyframes openUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes buttonAnimation {
  
}